
<div class="container">
  <mat-card class="mat-elevation-z8">
    <!--<mat-card-title>Create Family</mat-card-title>-->
    <mat-toolbar color="accent" style="box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);">
      <div align="center" style="text-align: right;">
        Codingvila | Angular 14 CRUD Example with Web API
      </div>
    </mat-toolbar>
    <br><br>

    <mat-card-content>
      <form [formGroup]="familyForm" (ngSubmit)="onSubmitfamilyForm(familyForm.value)">
        <table>
          <tr>
            <td class="tbl1">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Name for Postal Address</mat-label>
                <input id="postaladdressname" matInput type="text" placeholder="Postal Address Name" [formControl]="postaladdressname">
              </mat-form-field>
            </td>
            <td class="tbl1">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>CurrentAddress</mat-label>
                <input id="CurrentAddress" matInput type="text" placeholder="CurrentAddress" [formControl]="currentaddress">
              </mat-form-field>
            </td>
            <td class="tbl1">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>CurrentVillage</mat-label>
                <input id="CurrentVillage" matInput type="text" placeholder="CurrentVillage" [formControl]="currentvillage">
              </mat-form-field>
            </td>
            <td class="tbl1">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>CurrentDistrict</mat-label>
                <input id="CurrentDistrict" matInput type="text" placeholder="CurrentDistrict" [formControl]="currentdistrict">
              </mat-form-field>
            </td>
            <td class="tbl1">
              <mat-form-field appearance="fill">
                <mat-label>Current State</mat-label>
                <mat-select [formControl]="currentstate">
                  <mat-option value="andhra pradesh">Andhra Pradesh</mat-option>
                  <mat-option value="arunachal pradesh">Arunachal Pradesh</mat-option>
                  <mat-option value="assam">Assam</mat-option>
                  <mat-option value="bihar">Bihar</mat-option>
                  <mat-option value="chhattisgarh">Chhattisgarh</mat-option>
                  <mat-option value="goa">Goa</mat-option>
                  <mat-option value="gujarat">Gujarat</mat-option>
                  <mat-option value="haryana">Haryana</mat-option>
                  <mat-option value="himachal pradesh">Himachal Pradesh</mat-option>
                  <mat-option value="jharkhand">Jharkhand</mat-option>
                  <mat-option value="karnataka">Karnataka</mat-option>
                  <mat-option value="kerala">Kerala</mat-option>
                  <mat-option value="madhya pradesh">Madhya Pradesh</mat-option>
                  <mat-option value="maharashtra">Maharashtra</mat-option>
                  <mat-option value="manipur">Manipur</mat-option>
                  <mat-option value="meghalaya">Meghalaya</mat-option>
                  <mat-option value="mizoram">Mizoram</mat-option>
                  <mat-option value="nagaland">Nagaland</mat-option>
                  <mat-option value="odisha">Odisha</mat-option>
                  <mat-option value="punjab">Punjab</mat-option>
                  <mat-option value="rajasthan">Rajasthan</mat-option>
                  <mat-option value="sikkim">Sikkim</mat-option>
                  <mat-option value="tamil nadu">Tamil Nadu</mat-option>
                  <mat-option value="telangana">Telangana</mat-option>
                  <mat-option value="tripura">Tripura</mat-option>
                  <mat-option value="uttar pradesh">Uttar Pradesh</mat-option>
                  <mat-option value="uttarakhand">Uttarakhand</mat-option>
                  <mat-option value="west bengal">West Bengal</mat-option>
                  <mat-option value="other">Other</mat-option>
                </mat-select>
              </mat-form-field>
              </td>
            </tr>
          <tr>
            <td class="tbl1">

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>CurrentPincode</mat-label>
                <input id="CurrentPincode" matInput type="number" maxlength="5" placeholder="CurrentPincode" [formControl]="currentpincode">
              </mat-form-field>
            </td>
            <td class="tbl1">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>OriginalVillage</mat-label>
                <input id="OriginalVillage" matInput type="text" placeholder="OriginalVillage" [formControl]="originalvillage">
              </mat-form-field>
            </td>
            <td class="tbl1">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>OriginalDistrict</mat-label>
                <input id="OriginalDistrict" matInput type="text" placeholder="OriginalDistrict" [formControl]="originaldistrict">
              </mat-form-field>
            </td>
            <td class="tbl1">
              <mat-checkbox id="residentialfacility" [formControl]="residentialfacility">Residential Facility</mat-checkbox>
            </td>
            <td class="tbl1">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Modified by ID</mat-label>
                <input id="modifiedbyid" matInput type="text" placeholder="Modified by ID" [formControl]="modifiedbyid">
              </mat-form-field>
              </td>
          </tr>
          <tr>
            <td class="content-center">
              <button type="submit" mat-raised-button>submit</button>&nbsp;&nbsp;&nbsp;&nbsp;
              <button type="button" mat-raised-button>clear</button>
            </td>
            <td>
              <!--<p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success" align="left">
                {{massage}}
              </p>-->
            </td>
            <td></td>
            <td></td>
          </tr>
          </table>
            
</form>
    </mat-card-content>
  </mat-card>
</div>

