
<div class="container ">
  <mat-card class="mat-elevation-z8 ">

    <mat-toolbar color="accent" style="box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);">
      <div align="center" style="text-align: right;" mat-raised-button matTooltip="પત્રવ્યવહાર માટે" > 
        Add Family Detail (પત્રવ્યવહાર માટે સરનામુ)
      </div>
    </mat-toolbar>
    <br><br>

    <mat-card-content>
      <form [formGroup]="familyForm" (ngSubmit)="onSubmitfamilyForm(familyForm.value)">
        <div class="example-container">
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Name for Postal Address</mat-label>
              <input id="postaladdressname" matInput type="text" placeholder="Postal Address Name" [formControl]="postaladdressname" mat-raised-button matTooltip="પત્રવ્યવહાર માટે નામ" />           
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>CurrentAddress</mat-label>
              <input id="CurrentAddress" matInput type="text" placeholder="CurrentAddress" [formControl]="currentaddress">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>CurrentVillage</mat-label>
              <input id="CurrentVillage" matInput type="text" placeholder="CurrentVillage" [formControl]="currentvillage">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>CurrentDistrict</mat-label>
              <input id="CurrentDistrict" matInput type="text" placeholder="CurrentDistrict" [formControl]="currentdistrict">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Current State</mat-label>
              <mat-select [formControl]="currentstate">
                <mat-option value="Andhra Pradesh">Andhra Pradesh</mat-option>
                <mat-option value="Arunachal Pradesh">Arunachal Pradesh</mat-option>
                <mat-option value="Assam">Assam</mat-option>
                <mat-option value="Bihar">Bihar</mat-option>
                <mat-option value="Chhattisgarh">Chhattisgarh</mat-option>
                <mat-option value="Goa">Goa</mat-option>
                <mat-option value="Gujarat">Gujarat</mat-option>
                <mat-option value="Haryana">Haryana</mat-option>
                <mat-option value="Himachal Pradesh">Himachal Pradesh</mat-option>
                <mat-option value="Jharkhand">Jharkhand</mat-option>
                <mat-option value="Karnataka">Karnataka</mat-option>
                <mat-option value="Kerala">Kerala</mat-option>
                <mat-option value="Madhya Pradesh">Madhya Pradesh</mat-option>
                <mat-option value="Maharashtra">Maharashtra</mat-option>
                <mat-option value="Manipur">Manipur</mat-option>
                <mat-option value="Meghalaya">Meghalaya</mat-option>
                <mat-option value="Mizoram">Mizoram</mat-option>
                <mat-option value="Nagaland">Nagaland</mat-option>
                <mat-option value="Odisha">Odisha</mat-option>
                <mat-option value="Punjab">Punjab</mat-option>
                <mat-option value="Rajasthan">Rajasthan</mat-option>
                <mat-option value="Sikkim">Sikkim</mat-option>
                <mat-option value="Tamil Nadu">Tamil Nadu</mat-option>
                <mat-option value="Telangana">Telangana</mat-option>
                <mat-option value="Tripura">Tripura</mat-option>
                <mat-option value="Uttar Pradesh">Uttar Pradesh</mat-option>
                <mat-option value="Uttarakhand">Uttarakhand</mat-option>
                <mat-option value="West Bengal">West Bengal</mat-option>
                <mat-option value="Other">Other</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>CurrentPincode</mat-label>
              <input id="CurrentPincode" matInput minLength="5" maxLength="6" placeholder="CurrentPincode" [formControl]="currentpincode">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>OriginalVillage</mat-label>
              <input id="OriginalVillage" matInput type="text" placeholder="OriginalVillage" [formControl]="originalvillage">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>OriginalDistrict</mat-label>
              <input id="OriginalDistrict" matInput type="text" placeholder="OriginalDistrict" [formControl]="originaldistrict">
            </mat-form-field>
          </div>
          <div>
            <mat-checkbox id="residentialFacility" [formControl]="residentialFacility">Residential Facility</mat-checkbox>
          </div>
          <div class="btn-right">
            <button type="submit" class="btn-orange" mat-raised-button [disabled]="isDisabled">submit</button>&nbsp;&nbsp;
            <button type="button" class="btn-orange" mat-raised-button [disabled]="isDisabled" (click)='ClearForm()'>clear</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn-orange" mat-raised-button [disabled]="isAddMemmbersbtnDisabled" routerLink="/familymember">AddMembers</button>
          </div>
          <div>
            <p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success" align="left">
              {{massage}}
            </p>
          </div>
        </div>

        <br><br>

        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>

        <div class="example-container-table">
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort style="box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);">
              <ng-container matColumnDef="FamilyID">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Family ID</mat-header-cell>
                <mat-cell *matCellDef="let family"> {{family.familyID}} </mat-cell>
              </ng-container>

              <!--<ng-container matColumnDef="OriginalVillage">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Original Village </mat-header-cell>
                <mat-cell *matCellDef="let family"> {{family.originalVillage}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="OriginalDistrict">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Original District</mat-header-cell>
                <mat-cell *matCellDef="let family"> {{family.originalDistrict}} </mat-cell>
              </ng-container>-->
              <ng-container matColumnDef="PostalAddressName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Postal Address Name</mat-header-cell>
                <mat-cell *matCellDef="let family"> {{family.postalAddressName}} </mat-cell>
              </ng-container>
              <!--<ng-container matColumnDef="CurrentAddress">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Current Address</mat-header-cell>
                <mat-cell *matCellDef="let family"> {{family.currentAddress}} </mat-cell>
              </ng-container>-->
              <ng-container matColumnDef="CurrentVillage">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Current Village</mat-header-cell>
                <mat-cell *matCellDef="let family"> {{family.currentVillage}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="CurrentDistrict">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Current District</mat-header-cell>
                <mat-cell *matCellDef="let family"> {{family.currentDistrict}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="CurrentState">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Current State</mat-header-cell>
                <mat-cell *matCellDef="let family"> {{family.currentState}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="CurrentPincode">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Current Pincode</mat-header-cell>
                <mat-cell *matCellDef="let family"> {{family.currentPincode}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="Edit">
                <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
                <mat-cell *matCellDef="let family">
                  <button mat-icon-button aria-label="Example icon button with a vertical three dot icon " type="button" mat-raised-button color="accent" matTooltip="Edit" (click)="loadFamilyToEdit(family.familyID)"><mat-icon>edit</mat-icon></button>
                </mat-cell>
              </ng-container>

              <!--<ng-container matColumnDef="Delete">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Delete </mat-header-cell>
                <mat-cell *matCellDef="let family"> <button mat-icon-button aria-label="Example icon button with a delete icon" type="button" mat-raised-button color="accent" matTooltip="Delete" (click)="deleteFamily(family.familyID)"><mat-icon>delete_forever</mat-icon></button></mat-cell>
              </ng-container>-->
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
        </div>




      </form>
    </mat-card-content>
  </mat-card>
</div>

