<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 nav-brg">
    <div class="container">
      <a class="navbar-brand text-light">સેંઘાણી પરિવાર</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow" *ngIf="!isLoggedIn">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-light" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/allfamilydetails']" matTooltip="પરિવારમાં કેટલા સભ્યોની નોંધણી થઇ ?">All Family Members</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/login-data']" matTooltip="નોંધણી કરવા માટે">Login</a>
          </li>
        </ul>
        <ul class="navbar-nav flex-grow" *ngIf="isLoggedIn">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a href class="nav-link text-light" (click)="logout()">LogOut</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<body>
  <div>
    <div class="container-light">
      <!--<app-nav-menu></app-nav-menu>-->
      <div class="container mrg-btm-50">
        <router-outlet></router-outlet>
      </div>
      <footer class="bg-primary text-white text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: #455b88">
          All rights reserved. © [KD Senghani] 2023.
        </div>
        <!-- Copyright -->
      </footer>
      <!--<footer class="bg-dark text-center text-white">
    <div class="text-center footer-brg">
      All rights reserved. © [KD Senghani] 2023.
    </div>
  </footer>-->
    </div>

  </div>
</body>
