################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/24f13a22654e59ff43f5b129d588bbd869a738b2/0.pack
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/24f13a22654e59ff43f5b129d588bbd869a738b2/index.pack
/.vs/SenganiParivar/v17/.suo
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/f8d83dc8b4fd92b0e176429c8f31f7fd4e491d3a/index.pack
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/f8d83dc8b4fd92b0e176429c8f31f7fd4e491d3a/0.pack
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/f58ac015230fc0c1fcd53f1deb1eb51c9cf60b82/index.pack
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/f58ac015230fc0c1fcd53f1deb1eb51c9cf60b82/0.pack
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/f8d83dc8b4fd92b0e176429c8f31f7fd4e491d3a/9.pack
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/f8d83dc8b4fd92b0e176429c8f31f7fd4e491d3a/8.pack
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/f8d83dc8b4fd92b0e176429c8f31f7fd4e491d3a/7.pack
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/f8d83dc8b4fd92b0e176429c8f31f7fd4e491d3a/6.pack
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/f8d83dc8b4fd92b0e176429c8f31f7fd4e491d3a/5.pack
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/f8d83dc8b4fd92b0e176429c8f31f7fd4e491d3a/4.pack
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/f8d83dc8b4fd92b0e176429c8f31f7fd4e491d3a/3.pack
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/f8d83dc8b4fd92b0e176429c8f31f7fd4e491d3a/2.pack
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/f8d83dc8b4fd92b0e176429c8f31f7fd4e491d3a/12.pack
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/f8d83dc8b4fd92b0e176429c8f31f7fd4e491d3a/11.pack
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/f8d83dc8b4fd92b0e176429c8f31f7fd4e491d3a/10.pack
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/f8d83dc8b4fd92b0e176429c8f31f7fd4e491d3a/1.pack
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/f8d83dc8b4fd92b0e176429c8f31f7fd4e491d3a/13.pack
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/f58ac015230fc0c1fcd53f1deb1eb51c9cf60b82
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/f8d83dc8b4fd92b0e176429c8f31f7fd4e491d3a/16.pack
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/f8d83dc8b4fd92b0e176429c8f31f7fd4e491d3a/15.pack
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/e1bff4a8da26e281bfd986503d2f8d04a37e5a14/index.pack.old
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/e1bff4a8da26e281bfd986503d2f8d04a37e5a14/index.pack
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/e1bff4a8da26e281bfd986503d2f8d04a37e5a14/1.pack
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/e1bff4a8da26e281bfd986503d2f8d04a37e5a14/0.pack
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/b7e8948b91fd64393228ed6cca607714ed4e385f/index.pack.old
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/b7e8948b91fd64393228ed6cca607714ed4e385f/index.pack
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/b7e8948b91fd64393228ed6cca607714ed4e385f/9.pack
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/b7e8948b91fd64393228ed6cca607714ed4e385f/8.pack
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/b7e8948b91fd64393228ed6cca607714ed4e385f/7.pack
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/b7e8948b91fd64393228ed6cca607714ed4e385f/6.pack
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/b7e8948b91fd64393228ed6cca607714ed4e385f/5.pack
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/b7e8948b91fd64393228ed6cca607714ed4e385f/4.pack
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/b7e8948b91fd64393228ed6cca607714ed4e385f/3.pack
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/b7e8948b91fd64393228ed6cca607714ed4e385f/2.pack
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/b7e8948b91fd64393228ed6cca607714ed4e385f/10.pack
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/b7e8948b91fd64393228ed6cca607714ed4e385f/1.pack
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/b7e8948b91fd64393228ed6cca607714ed4e385f/0.pack
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/b7e8948b91fd64393228ed6cca607714ed4e385f/13.pack
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/b7e8948b91fd64393228ed6cca607714ed4e385f/12.pack
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/b7e8948b91fd64393228ed6cca607714ed4e385f/11.pack
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/b7e8948b91fd64393228ed6cca607714ed4e385f/15.pack
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/a14f62ff35abc81dc900e04ca6c10e2d311269f7
/.vs/ParivarCode/v17/.suo
/WebApiParivarCode/.config/dotnet-tools.json
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/36d80cdfc5557aa2a62e616bcc0cc9fd4ca2ea4d/index.pack
/ParivarCode/ClientApp/.angular/cache/14.0.3/angular-webpack/36d80cdfc5557aa2a62e616bcc0cc9fd4ca2ea4d/0.pack
