/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/*html, body { height: 100%; }*/
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container-light {
  background-color: #ffffff;
  /*min-height:550px;*/
}

.mat-toolbar.mat-accent {
  background: #455b88 !important;
  color: #FFFFFF !important;
}

.mat-header-cell {
  color: #d65d15 !important;
  background-color: #fef1ee;
}

.btn-right {
  float: right;
}

.example-container mat-form-field {
  width: 100%;
  margin-right: 25px;
}

.example-container form {
  margin-bottom: 20px;
}

  .example-container form > * {
    margin: 12px 0;
  }

.example-container .mat-radio-button {
  margin: 0 12px;
}

.example-form-fields {
  display: flex;
  align-items: flex-start;
}

table {
  width: 100%;
}

.example-container .mat-radio-button {
  margin: 0 12px;
}

.example-form-fields {
  display: flex;
  align-items: flex-start;
}


.example-container-table {
  display: flex;
  flex-direction: column;
  overflow: auto;
  white-space: nowrap;
}

  .example-container-table .mat-elevation-z8 {
    min-width: 800px;
  }

.my-snack-bar {
  background-color: #448226;
  color: white;
}

.my-snack-bar-error {
  background-color: red;
  color: white;
}
.mat-button-wrapper {
  color: white;
}

.btn-left {
  margin-right: 15px !important;
}

.footer-brg {
  background-color: #455b88;
  color: #fff;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  width: 100%;
  opacity: 80%;
}

.btn-orange {
  background-color: #f36f21;
  color: #fff;
}

.mrg-btm-50 {
  margin-bottom: 50px;
}

.mat-form-field {
  line-height: 1.50 !important;
}
/*//NAV CSS*/

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.text-light {
  color: #ffffff;
}

.nav-brg {
  background-color: #f0742c;
  color: #fff;
}

.mat-card {
  margin-bottom: 10px;
}

.mat-card-subtitle {
  color: #d65d15 !important;
}

.mat-card-header-text {
  margin: 0px !important;
}

.mat-card:not([class*=mat-elevation-z]) {
  border: solid 1px #e1e1e1;
  box-shadow: 0px 2px 1px -1px rgb(225 225 225 / 20%), 0px 1px 1px 0px rgb(225 225 225 / 14%), 0px 1px 3px 0px rgb(225 225 225 / 12%);
}

.mat-card-custom-header {
  background-color: #fff2ea;
  margin-bottom: 10px;
  padding-left: 10px;
  line-height: 40px;
  height: 40px;
  border-radius: 5px;
}

.mrg-top-5 {
  margin-top: 5px;
}

.mrg-btm-5 {
  margin-bottom: 5px;
}

.text-left {
  text-align: left;
}

.custom-padding-10 {
  padding: 10px !important;
}
