/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container-light {
  background-color: #f1efe9;
}

.mat-toolbar.mat-accent {
  background: #d1e8e2 !important;
  color: #0D4F50 !important;
}

.mat-header-cell {
  color: #0D4F50 !important;
  background-color: #F0fbfb;
}

.btn-right {
  float: right;
  padding-right:5px;
}

.example-container mat-form-field {
  width: 250px;
  margin-right: 25px;
}

.example-container form {
  margin-bottom: 20px;
}

  .example-container form > * {
    margin: 12px 0;
  }

.example-container .mat-radio-button {
  margin: 0 12px;
}

.example-form-fields {
  display: flex;
  align-items: flex-start;
}

table {
  width: 100%;
}

.example-container .mat-radio-button {
  margin: 0 12px;
}

.example-form-fields {
  display: flex;
  align-items: flex-start;
}


.example-container-table {
  display: flex;
  flex-direction: column;
  overflow:auto;
  white-space:nowrap;
}

  .example-container-table .mat-elevation-z8 {
      min-width:800px;
  }
.my-snack-bar {
  background-color: #448226;
  color: white;
}
.my-snack-bar-error {
  background-color: red;
  color: white;
}

.btn-left {
  margin-right: 15px !important;
}

.footer-brg {
  background-color: #44817b;
  color: #fff;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
}
