
<mat-card>
  <mat-card-title>Login</mat-card-title>

  <mat-card-content >   
    <form class="example-form" name="form" [formGroup]="mobileForm" (ngSubmit)="onSubmitmobileForm()"> 

      <p>
        <mat-form-field class="example-full-width" appearance="fill" >
          <mat-label>Mobile</mat-label>
          <span matPrefix>+91 &nbsp;</span>
          <input id="mobile" type="tel" matInput maxlength="10" min="10" placeholder="9425974949" (keypress)="numberOnly($event)" [formControl]="mobile">
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
      </p>
      <div class="button">
        <button type="submit" mat-raised-button [hidden]="btnmobilehide">Get OTP</button>
      </div>
    </form>
  </mat-card-content>

  <mat-card-content  >
    <form class="example-form"  [formGroup]="otpForm" name="otpform"  [hidden]="otphide" (ngSubmit)="onSubmitotpform()" >
      <p>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>OTP</mat-label>
          <input type="text" matInput maxlength="4" min="4" placeholder="3455" (keypress)="numberOnly($event)" [formControl]="otp">
        </mat-form-field>
      </p>

      <div class="button">
        <button type="submit" mat-raised-button>Verify & Proceed</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
