<div class="outer-box">
  <div class="box-light-orange">
    શ્રી અગસ્ત્ય ગોત્રીય ડાકોતર હીરજીદાદા સેંઘાણી પરિવાર ગઢશીશા-કચ્છ ત્રિ શતાબ્દી મહોત્સવ નિમિતે વસ્તી પત્રક ભરવા માટે ધ્યાનમાં રાખવાના મુદ્દા.
    <br /><br />
    <b>૧.</b> હયાત લોકોની જ નોંધણી કરવાની છે. <br />
    <b>૨.</b> સેંઘાણી પરિવાર સિવાય અન્ય કોઈની નોંધણી કરવાની નથી.<br />
    <b>૩.</b> લોગીન બટનમાં ક્લિક કર્યા પછી ૩ સ્ટેપ્સ માં નોંધણી થશે.<br />
    <b>સ્ટેપ ૧.</b> પત્રવ્યવહાર માટે સરનામું.<br />
    <b>સ્ટેપ ૨.</b> કુટુંબના સભ્યોની નોંધણી કરવી, જેમાં અપરણિત દીકરીઓની નોંધણી સાથે કરવી.<br />
    <b>સ્ટેપ ૩.</b> પરણિત દીકરીઓની નોંધણી કરવી.<br />

  </div>
  <div class="box-light-blue">
    પરિવારમાં કેટલા સભ્યોની નોંધણી થઇ ?<br /> click here.
  </div>
  <div class="box-light-olive">
    <b>
      વેબસાઈટમાં નોંધણીમાં મદદ જોઈતી હોય તો કોન્ટાક્ટ કરો<br />
    </b>
    ૧. રાજેશ એમ. સેંઘાણી (9925514713)<br />
    ૨. કેતન એચ. સેંઘાણી (9979253044)<br />
    ૩. દિલીપ એચ. સેંઘાણી (9825975949)<br /><br />

    <b>
      મહોત્સવ માટે કોઈ માહિતી જોઈતી હોય તો કોન્ટાક્ટ કરો<br />
    </b>
    ૧. હરેશ કે. સેંઘાણી (9825599324)<br />
    ૨. ગોવિંદ એમ. સેંઘાણી (9925338526)<br />
  </div>
</div>
