
<mat-card>
  <mat-card-title>Create Family Member</mat-card-title>

  <mat-card-content>
    <form class="example-form" name="form" [formGroup]="familymemberForm" (ngSubmit)="onSubmitfamilyMemberForm(familymemberForm.value)">


      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>FamilyID</mat-label>
        <input id="FamilyID" matInput type="text" placeholder="FamilyID" [formControl]="familyid"> <!--WE need to make this read only by passing in createfamily form-->
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>First name</mat-label>
        <input id="firstname" matInput type="text" placeholder="vinod" [formControl]="firstname">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Father or Husband Name</mat-label>
        <input id="fatherhusband name" matInput type="text" placeholder="fathername" [formControl]="fatherhusbandname">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Relation</mat-label>
        <mat-select [formControl]="relationid"  matTooltip="Select Relation" autocomplete="off">
          <mat-option *ngFor="let Relation of (allRelations | async)" [value]="Relation.relationID">
            {{Relation.relationName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Birthdate</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="DOB(MM/DD/YYYY)" [formControl]="birthdate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <label id="example-radio-group-label" class="example-full-width">Marital Status  </label>
      <mat-radio-group aria-label="maritalstatus" [formControl]="maritalstatus">
        <mat-radio-button value="Single">Single</mat-radio-button>
        <mat-radio-button value="Married">Married</mat-radio-button>
        <mat-radio-button value="Other">Other</mat-radio-button>
      </mat-radio-group>

      <label id="example-radio-group-label" class="example-full-width">Gender</label>
      <mat-radio-group aria-label="Gender" [formControl]="gender">
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
      </mat-radio-group>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Education</mat-label>
        <input id="Education" matInput type="text" placeholder="Education" [formControl]="education">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Business</mat-label>
        <input id="Business" matInput type="text" placeholder="Business" [formControl]="business">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Mobile</mat-label>
        <input id="Mobile" type="tel" matInput maxlength="10" min="10" placeholder="Mobile" [formControl]="mobile">
      </mat-form-field>
      <!--<mat-form-field class="example-full-width" appearance="fill">
        <mat-label>AttendingProgram</mat-label>
        <input id="AttendingProgram" matInput type="text" placeholder="1" [formControl]="attendingprogram">
      </mat-form-field>-->
      <!--We need to put check box-->
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Modified by ID</mat-label>
        <input id="modifiedbyid" matInput type="number" placeholder="Modified by ID" [formControl]="modifiedbyid">
      </mat-form-field>

      <div class="button">
        <button type="submit" mat-raised-button>submit</button>
        <button type="button" mat-raised-button>clear</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

