<div class="container">
  <mat-card class="mat-elevation-z8">
    <mat-tab-group>
      <mat-tab label="પત્રવ્યવહારની વિગત">
        <div class="example-container-table">
          <div>
            <h2>1. Export Table (Material and normal table)</h2>
            <div class="export-container">
              <button mat-raised-button color="primary" (click)="exportArray()">Export Material Table</button>
            </div>

            <!--<div class="col-lg-3 col-md-6 col-sm-12">
    Search :
  </div>-->
            <div class="row">
              <!--<div class="col-lg-3 col-md-6 col-sm-12">
      <mat-form-field appearance="fill">
        <mat-label>Original Village</mat-label>
        <mat-select autocomplete="off" >
          <mat-option *ngFor="let villages of (allOriginalVillages | async)" [formControl]="familyOriginalVillage" [value]="villages.originalVillageName">
            {{villages.originalVillageName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>-->
              <div class="col-lg-3 col-md-6 col-sm-12">
                <mat-form-field>
                  <input matInput id="family" (keyup)="applyFamilyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSourceFamily" matSort class="mat-elevation-z8" style="box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);">

              <ng-container matColumnDef="familyId">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">કુટુંબ ક્રમાંક</mat-header-cell>
                <mat-cell *matCellDef="let family"> {{family.familyID}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="postalAddressName">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">વ્યક્તિનું નામ</mat-header-cell>
                <mat-cell *matCellDef="let family"> {{family.postalAddressName}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="currentAddress">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">હાલનુ એડ્રેસ</mat-header-cell>
                <mat-cell *matCellDef="let family"> {{family.currentAddress}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="currentVillage">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">હાલનુ ગામ</mat-header-cell>
                <mat-cell *matCellDef="let family"> {{family.currentVillage}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="currentDistrict">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">હાલનો જિલ્લો</mat-header-cell>
                <mat-cell *matCellDef="let family"> {{family.currentDistrict}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="currentState">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">હાલનુ રાજ્ય</mat-header-cell>
                <mat-cell *matCellDef="let family"> {{family.currentState}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="currentPincode">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">હાલનો પીન કોડ</mat-header-cell>
                <mat-cell *matCellDef="let family">  {{family.currentPincode}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="originalVillage">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">મૂળ ગામ</mat-header-cell>
                <mat-cell *matCellDef="let family"> {{family.originalVillage}} </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumnsFamily"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumnsFamily;"></mat-row>
            </table>
            <mat-paginator #paginatorFamily [pageSizeOptions]="[50, 500, 1000, 2000]"></mat-paginator>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="કુટુંબના સભ્યો">
        <div class="example-container-table">
          <div>
            <!--<div class="col-lg-3 col-md-6 col-sm-12">
          Search :
        </div>-->
            <div class="row">
              <!--<div class="col-lg-3 col-md-6 col-sm-12">
            <mat-form-field appearance="fill">
              <mat-label>Original Village</mat-label>
              <mat-select autocomplete="off" >
                <mat-option *ngFor="let villages of (allOriginalVillages | async)" [formControl]="familyOriginalVillage" [value]="villages.originalVillageName">
                  {{villages.originalVillageName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>-->
              <div class="col-lg-3 col-md-6 col-sm-12">
                <mat-form-field>
                  <input matInput id="familyMember" (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);">
              <ng-container matColumnDef="familyId">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell" >કુટુંબ ક્રમાંક</mat-header-cell>
                <mat-cell *matCellDef="let familymember"> {{familymember.familyID}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="firstName">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">નામ</mat-header-cell>
                <mat-cell *matCellDef="let familymember"> {{familymember.firstName}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="fatherHusbandName">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">પિતા/પતિનું નામ</mat-header-cell>
                <mat-cell *matCellDef="let familymember"> {{familymember.fatherHusbandName}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="age">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">ઉંમર</mat-header-cell>
                <mat-cell *matCellDef="let familymember"> {{familymember.age}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="gender">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">પુરુષ/સ્ત્રી</mat-header-cell>
                <mat-cell *matCellDef="let familymember"> {{familymember.gender}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="maritalStatus">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">વૈવાહિક સ્થિતિ</mat-header-cell>
                <mat-cell *matCellDef="let familymember"> {{familymember.maritalStatus}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="education">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">શિક્ષણ</mat-header-cell>
                <mat-cell *matCellDef="let familymember"> {{familymember.education}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="business">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">વ્યવસાય</mat-header-cell>
                <mat-cell *matCellDef="let familymember"> {{familymember.business}} </mat-cell>
              </ng-container>
              <!--<ng-container matColumnDef="attendingProgram">
            <mat-header-cell *matHeaderCellDef mat-sort-header>હાજરી</mat-header-cell>
            <mat-cell *matCellDef="let familymember">  {{familymember.attendingProgramValue}} </mat-cell>
          </ng-container>-->
              <ng-container matColumnDef="relationName">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">સંબંધ</mat-header-cell>
                <mat-cell *matCellDef="let familymember"> {{familymember.relationName}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="mobile">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell" >મોબાઇલ</mat-header-cell>
                <mat-cell *matCellDef="let familymember"> {{familymember.mobile}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="currentVillage">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">હાલનુ ગામ</mat-header-cell>
                <mat-cell *matCellDef="let familymember">  {{familymember.currentVillage}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="originalVillage">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">મૂળ ગામ</mat-header-cell>
                <mat-cell *matCellDef="let familymember"> {{familymember.originalVillage}} </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </table>
            <mat-paginator #paginatorFamilyMembers [pageSizeOptions]="[50, 500, 1500, 2000, 5000]"></mat-paginator>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="પરણિત દિકરીયો">
        <div class="example-container-table">
          <div>
            <!--<div class="col-lg-3 col-md-6 col-sm-12">
          Search :
        </div>-->
            <div class="row">
              <!--<div class="col-lg-3 col-md-6 col-sm-12">
            <mat-form-field appearance="fill">
              <mat-label>Original Village</mat-label>
              <mat-select autocomplete="off">
                <mat-option *ngFor="let villages of (allOriginalVillages | async)" [value]="villages.originalVillageName">
                  {{villages.originalVillageName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>-->
              <div class="col-lg-3 col-md-6 col-sm-12">
                <mat-form-field>
                  <input matInput id="daughter" (keyup)="applyDaughterFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSourcedaughter" matSort class="mat-elevation-z8" style="box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);">
              <ng-container matColumnDef="familyId">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">કુટુંબ ક્રમાંક</mat-header-cell>
                <mat-cell *matCellDef="let daughterdetail"> {{daughterdetail.familyID}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="firstName">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">દીકરીનુ નામ</mat-header-cell>
                <mat-cell *matCellDef="let daughterdetail"> {{daughterdetail.firstName}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="husbandName">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">પતિનું નામ</mat-header-cell>
                <mat-cell *matCellDef="let daughterdetail"> {{daughterdetail.husbandName}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="surname">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">અટક</mat-header-cell>
                <mat-cell *matCellDef="let daughterdetail"> {{daughterdetail.surname}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="fatherInLawName">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">સસરાનુ નામ</mat-header-cell>
                <mat-cell *matCellDef="let daughterdetail"> {{daughterdetail.fatherInLawName}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="relationName">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">સંબંધ</mat-header-cell>
                <mat-cell *matCellDef="let daughterdetail"> {{daughterdetail.relationName}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="age">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">ઉંમર</mat-header-cell>
                <mat-cell *matCellDef="let daughterdetail"> {{daughterdetail.age}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="village">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">દીકરીનુહાલનુ ગામ</mat-header-cell>
                <mat-cell *matCellDef="let daughterdetail"> {{daughterdetail.village}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="alive">
                <mat-header-cell *matHeaderCellDef mat-sort-headerclass="mat-header-cell">હયાત</mat-header-cell>
                <mat-cell *matCellDef="let daughterdetail"> {{daughterdetail.aliveName}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="vadilNuName">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">વડીલનુ નામ</mat-header-cell>
                <mat-cell *matCellDef="let daughterdetail">  {{daughterdetail.vadilNuName}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="vadilNuOrginalVillage">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">વડીલનુ મૂળ ગામ</mat-header-cell>
                <mat-cell *matCellDef="let daughterdetail">  {{daughterdetail.vadilNuOrginalVillage}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="mobile">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">મોબાઇલ</mat-header-cell>
                <mat-cell *matCellDef="let daughterdetail"> {{daughterdetail.mobile}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="attendingProgram">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">હાજરી</mat-header-cell>
                <mat-cell *matCellDef="let daughterdetail"> {{daughterdetail.attendingProgramValue}} </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumnsdaughter"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumnsdaughter;"></mat-row>
            </table>
            <mat-paginator #paginatorDaughters [pageSizeOptions]="[50, 500, 1000 , 2000]"></mat-paginator>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>

